---
import '@styles/global.css';
import { ViewTransitions } from 'astro:transitions';

interface Props {
	title?: string | undefined;
	description?: string | undefined;
}

const {
	title = 'Matthiesen Photography',
	description = 'Adam Matthiesen & Alox Leyva, two hobbiest photographers.',
} = Astro.props;

import { AstroFont } from "astro-font";
---

<meta charset="UTF-8" />
<meta name="description" property="og:description" content={description} />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<title>{title}</title>

<AstroFont
	config={[
		{
			src: [],
			preload: true,
			display: "swap",
			name: "Public Sans",
			fallback: "sans-serif",
			cssVariable: "font-body",
			googleFontsURL: 'https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;0,700;1,400&display=swap',
		},
		{
			src: [],
			name: "Rubik",
			preload: false,
			display: "swap",
			fallback: "sans-serif",
			cssVariable: "font-brand",
			googleFontsURL: 'https://fonts.googleapis.com/css2?family=Rubik:wght@500;600&display=swap',
		},
	]}
/>
<ViewTransitions />
